<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147485450727-8qe004k7cg5d3fvl9ujte0urvsp8gpt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147485450727-8qe004k7cg5d3fvl9ujte0urvsp8gpt8</string>
	<key>API_KEY</key>
	<string>AIzaSyDT1UcMZfoSuUmnRk_BAKgEy3WmVlsJuoI</string>
	<key>GCM_SENDER_ID</key>
	<string>147485450727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JiwooLee.Simon</string>
	<key>PROJECT_ID</key>
	<string>simon-a48fd</string>
	<key>STORAGE_BUCKET</key>
	<string>simon-a48fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147485450727:ios:dc6686b87d13b5821a5d42</string>
	<key>DATABASE_URL</key>
	<string>https://simon-a48fd.firebaseio.com</string>
</dict>
</plist>