<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649839539493-9neuamsqlmlsu99vvm91kvb3km5mpcee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649839539493-9neuamsqlmlsu99vvm91kvb3km5mpcee</string>
	<key>API_KEY</key>
	<string>AIzaSyDF82H6-lYjIqJPeZOA7PlKGEG3ItaFkoo</string>
	<key>GCM_SENDER_ID</key>
	<string>649839539493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JiwooLee.SimonGame</string>
	<key>PROJECT_ID</key>
	<string>simon-b8cee</string>
	<key>STORAGE_BUCKET</key>
	<string>simon-b8cee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649839539493:ios:c82b3e106ff543f9a2d6cc</string>
	<key>DATABASE_URL</key>
	<string>https://simon-b8cee.firebaseio.com</string>
</dict>
</plist>